@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

@font-face {
	font-family: bento;
	src: url("/Assets/bento.otf");
}
@font-face {
	font-family: bloomberg;
	src: url("/Assets/bloomberg.otf");
}

* {
	box-sizing: border-box;
	--orange: #ff5100;
	margin: 0;
	padding: 0;
	user-select: none;
	cursor: url("/Assets/shuriken.svg"), auto;
	scroll-behavior: smooth;
	user-drag: none;
	-webkit-user-drag: none;
	scroll-margin: 100px;
}

body {
	background-color: rgb(224, 224, 224);
	overflow-x: hidden;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none;
}

ul {
	visibility: hidden;
	height: 100%;
	background: linear-gradient(90deg, #ff0066, #2850ff);
	padding: 15px 0px;
	margin: auto;
	display: flex;
	list-style: none;
	font-size: 1.5em;
}

section {
	padding: 12px;
	color: rgb(216, 216, 216);
	color: rgb(0, 0, 0);
}

a {
	-webkit-user-drag: none;
	display: inline;
	text-decoration: none;
	padding: 16px 15px;
	transition: all 0.2s ease-in-out;
	color: #ffffff;
	text-transform: uppercase;
	background-color: rgb(24, 24, 24);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: inherit;
}

ul li a:hover {
	padding: 10px 15px;
}

.navbar {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	padding: 7px;
	background-color: rgb(24, 24, 24);
	overflow: hidden;
	z-index: 100000;
}

.icon {
	position: absolute;
	height: 55px;
	border: 2px solid white;
	border-radius: 50%;
	padding: 2px;
}

.icon path {
	fill: white;
}

.icon:hover {
	scale: 1.2;
	background: linear-gradient(270deg, #ff0000, #ff9100);
	animation: 1s iconAnimation2 linear infinite;
}

.pin {
	transition: transform 0.5s;
}

#home {
	background-image: url("/Assets/bg.jpg");
	display: flex;
	height: 100vh;
	/* background-attachment: fixed; */
	background-size: cover;
	background-repeat: no-repeat;
	flex-direction: column;
}

#home h1 {
	background: -webkit-linear-gradient(270deg, #ff0000, #ff9100);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: var(--orange);
	font-family: "bento", "Cinzel", serif;
	letter-spacing: 5px;
	font-size: 3.5rem;
}

.content {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
}

.gifWrapper {
	height: 15vw;
	position: relative;
	width: 15vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gif {
	height: 60%;
	position: relative;
}

.gif.initial {
	content: url("/Assets/goku-charge-nobg.gif");
	height: 120%;
	top: -10%;
}

.description {
	position: relative;
	font-family: "bloomberg", cursive;
	font-size: 2rem;
	padding: 0 15px;
	text-shadow: 0 0 70px #fff, 0 0 20px #0fa, 0 0 100px #0fa;
	transition: transform 2s;
}

.description.b.animateBounce {
	transform: translateX(45%);
}
.description.a.animateBounce {
	transform: translateX(-45%);
}

.description.a {
	text-align: end;
	top: -30%;
}
.description.b {
	bottom: -30%;
}

/*? Icon Hover Animation*/
@keyframes iconAnimation2 {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}

/*? Icon Throw Animation */
@keyframes iconAnimation {
	from {
		left: 0%;
		rotate: 0deg;
		scale: 1.2;
		background: linear-gradient(270deg, #ff0000, #ff9100);
	}
	to {
		left: calc(100% - 112px);
		rotate: 720deg;
		scale: 1.2;
		background: linear-gradient(270deg, #ff0000, #ff9100);
	}
}

/*? Makes Menu Visible */
@keyframes visible {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#new {
	background-color: rgba(0, 0, 0, 0.815);
	color: var(--orange);
	padding: 10px;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.carousel {
	width: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	scroll-behavior: smooth;
	outline: 2px solid greenyellow;
	width: 100%;
	/* height: 50%; */
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.container img {
	/* height: 100%; */
	object-fit: cover;
	width: calc(100% / 3);
	margin: 0 15px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
}

.container::-webkit-scrollbar {
	display: none;
}

.dragging {
	scroll-behavior: auto;
}

#new h1 {
	background: -webkit-linear-gradient(270deg, #ff0000, #ff9100);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: var(--orange);
	font-family: "Cinzel", serif;
	letter-spacing: 5px;
	font-size: 3.5rem;
	position: relative;
	top: -10%;
}

.leftArrow,
.rightArrow {
	position: absolute;
	font-size: 0;
	top: 40%;
	filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.781));
}

.leftArrow path,
.rightArrow path {
	fill: #f8f8f8;
}

.leftArrow {
	transform: rotate3d(180deg);
	left: 1%;
}

.rightArrow {
	right: 1%;
}
